.container {
width: 70%;
margin: auto;
}

header {	
	width:70%;
  border-bottom: 1px solid black;
}

h1 {
  margin-top: 50px;
}

h2 {
  margin-top: 80px;
}

.logo {
  width: 100px;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  border-top: 1px solid black;
}
